.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  border: none;
  background-color: var(--primary-color);
  color: white;
  outline: none;

  height: 40px;
  min-width: 200px;

  border-radius: 40px;
  padding: 0 20px;
}

.input::placeholder {
  color: white;
}

.label {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  font-family: var(--primary-font-family);
  color: var(--primary-color);
}

.currency {
  font-weight: bold;

  font-size: 16px;
}

.balance {
  font-weight: bold;
  font-size: 15px;
  opacity: 0.8;
}

.label img {
  height: 30px;
  width: 30px;

  margin-right: 8px;

  border-radius: 50%;
}