.container {
  padding: 30px;
  height: 100vh;
  text-align: left;
}


.buttonContainer {
  margin-top: 60px !important;
}

.buttonExchange {
  height: 60px;
  min-width: 300px;

  font-size: 24px;
  font-weight: bold;
}

.switchRow {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}

.selectBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.selectBox select {
  max-width: 300px;
}

.selectBox span {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  margin-right: 50px;
}

.marketOrder {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 30px;
}

.arrow {
  display: none;
}

.mobileArrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px !important;
}

.arrow img {
  height: 30px;
  width: 40px;
  object-fit: cover;
  margin-bottom: 10px;
}

.mobileArrow img {
  height: 25px;
  object-fit: cover;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .selectBox {
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .mobileArrow {
    display: none;
  }

  .arrow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
  }

  .selectBox span {
    font-size: 24px;
  }

  .switchRow,
  .selectBox,
  .marketOrder {
    margin-bottom: 50px;
  }
}