.header {
  padding: 30px;
  height: 20%;

  color: var(--primary-color);
  font-family: var(--primary-font-family);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-weight: bold;
  font-size: 32px;
}

.hamburgerIcon {
  display: block;
}

.hamburgerIcon img {
  height: 20px;
  width: 40px;
}

@media (min-width: 769px) {
  .hamburgerIcon {
    display: none;
  }
}

@media (min-width: 1025px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header h1 {
    font-size: 48px;
  }
}